:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #e3e3e3;
}

.container {
  width: 100%;
  margin: auto;
  background-color: red;
  position: relative;
}

.container h1 {
  font-size: 32px;
  text-align: center;
}

.container button {
  float: right;
  margin: 0px 64px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #c3c3c3;
  background-color: rgb(0, 102, 255);
  color: whitesmoke;
  cursor: pointer;
}

.container button:hover {
  background-color: rgb(0, 23, 232);
  transition: all 0.2s ease-in-out;
}

.container .form-container {
  position: absolute;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.form-container form {
  padding: 20px;
  width: 30%;
  background-color: #c3c3c3;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.form-container form label {
  font-weight: bold;
}

.form-container form input {
  width: 95%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #c3c3c3;
  outline: none;
  border-radius: 4px;
}

.form-container form button[type="submit"] {
  width: 30%;
  margin: auto;
  margin-top: 14px;
  padding: 6px 12px;
  font-size: 16px;
}
